{% include 'headeradmin.html' %}
    <div class="container mt-5">
        <div class="shamrock">🍀</div>
        <h1 id="Titulo-pag">Ingresar catalogo</h1>
        {% if form.errors %}
            <div class="alert alert-danger">
                {% if form.nombre.errors %}
                    {% for error in form.nombre.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.descripcion.errors %}
                    {% for error in form.descripcion.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
                {{ form.nombre }}
            </div>
            <div class="mb-3">
                <label for="{{ form.descripcion.id_for_label }}">{{ form.descripcion.label }}</label>
                {{ form.descripcion }}
            </div>
            <div class="mb-3">
                <label for="{{ form.imagen.id_for_label }}">{{ form.imagen.label }}</label>
                {{ form.imagen }}
            </div>
            <div>
                <a href="{% url 'pagina_administrador' %}" class="btn btn-warning">Volver</a>
                <button type="submit" class="btn btn-success">Agregar a la Página</button>
            </div>
        </form>
    </div>
{% include 'footer.html' %}