{% if tipo_usuario_consultor == 'usuario' %}
{% include 'headerusuario.html' %}
{% elif tipo_usuario_consultor == 'administrador' %}
{% include 'headeradmin.html' %}
{% else %}
{% include 'header-repartidor.html' %}
{% endif %}
    <div class="container mt-5">
        <div class="shamrock">🍀</div>
        <h1 id="Titulo-pag">Actualizar contraseña</h1>
        {% if error %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}

            <label for="contraseña_nueva" class="form-label"
            >Contraseña Nueva</label>
            <input type="password" name="contraseña_nueva" id="contraseña_nueva" 
                   class="form-control" required>

            <label for="contraseña_nueva_2" class="form-label"
            >Ingrese la nueva contraseña denuevo</label>
            <input type="password" name="contraseña_nueva_2" id="contraseña_nueva" 
                   class="form-control" required>

            <input type="submit" class="btn btn-success mt-3" value="Actualizar">
            <a href="{% url 'mi_cuenta' %}" class="btn btn-success mt-3">volver</a>
        </form>
    </div>
{% include 'footer.html' %}