{% include 'headeradmin.html' %}
  <div class="container mt-5 text-start">
    <h3>Datos del usuario</h3>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item">Nombre: {{usuario.nombre}}</li>
          <li class="list-group-item">Email: {{usuario.email}}</li>
          <li class="list-group-item">Fono: {{usuario.fono}}</li>
        </ul>
      </div>
      <div class="col text-center mt-3">
          <a href="/update_usuario/{{usuario.id}}"
          class='btn btn-warning'><i class="bi bi-pencil"></i></a> 
          <a href="{% url 'delete_usuario' usuario.id %}"
          class='btn btn-danger'><i class="bi bi-trash"></i></a>
      </div>
  </div>
{%include 'footer.html'%}