{% if tipo_usuario_consultor == "administrador" %}
{% include "headeradmin.html" %}
{% elif tipo_usuario_consultor == "repartidor" %}
{% include 'header-repartidor.html' %}
{% else %}
{% include 'headerusuario.html' %}
{% endif %}
    <div class="container mt-5">
      <h3>Mi cuenta</h3>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item"><b>Nombre:</b> {{usuario.nombre}}</li>
          <li class="list-group-item"><b>Email:</b> {{usuario.email}}</li>
          <li class="list-group-item"><b>Fono:</b> {{usuario.fono}}</li>
          <li class="list-group-item"><b>Estado:</b> {{usuario.estado}}</li>
        </ul>
      </div>
        <a href="{% url 'actualizar_contraseña' %}" class="btn btn-warning mt-3"
        >actualizar contraseña</a>
        <a href="{% url 'update_mi_cuenta' %}" class="btn btn-warning mt-3">actualizar datos</a>
        <a href="{% url 'login' %}" class="btn btn-danger mt-3">Cerrar sesion</a>
        {% if usuario.tipo == "administrador" %}
        <a href="{% url 'pagina_administrador' %}" class="btn btn-success mt-3">Volver</a>
        {% elif usuario.tipo == "repartidor" %}
        <a href="{% url 'pagina-repartidor' %}" class="btn btn-success mt-3">Volver</a>
        {% else %}
        <a href="{% url 'pagina_principal' %}" class="btn btn-success mt-3">Volver</a>
        {% endif %} 
    </div>
{%include 'footer.html'%}