body {
    background: linear-gradient(135deg, #32CD32, #FFD700);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}
h1 {
    font-family: 'Lobster', cursive;
    color: #32CD32;
    font-size: 2.5em;
    margin-bottom: 10px;
}
.logo {
    font-size: 2em;
    color: #32CD32;
}
.form-control {
    margin-bottom: 10px;
    border-radius: 5px;
}
.btn {
    font-size: 1.1em;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.btn-success {
    background-color: #3FBC3D;
    border-color: #3FBC3D;
}
.btn-success:hover {
    background-color: #32CD32;
    border-color: #32CD32;
}
.btn-secondary {
    background-color: #FFD700;
    border-color: #FFD700;
    color: #3FBC3D;
}
.btn-secondary:hover {
    background-color: #FFC300;
    border-color: #FFC300;
}
.alert-danger {
    margin-top: 20px;
    background-color: #FFCDD2;
    color: #C62828;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}