{% include 'headerusuario.html' %}
<div class="container mt-2">
    <div class="container">
        <div class="shamrock">🍀</div>
        <form method="POST">
            <p><b>Ingrese sus datos para realizar el pedido</b></p>
            {% csrf_token %}
            {{form.as_p}}
            {% if descuentos %}
            <label for="descuentos">Descuentos</label>
            <select class="form-select" name="descuentos" id="descuentos">
                <option value="-1">No usare un descuento</option>
                {% for des in descuentos %}
                <option value="{{des.id}}">-%{{des.valor}}-termina el:{{des.fechaTermino}}-</option>
                {% endfor %}
            </select>
            {% endif %}
            <input type="submit" value="Realizar pedido" class="btn btn-success mt-2">
        </form>
    </div>
</div>
{% include 'footer.html' %}