{% include 'headeradmin.html' %}
    <div class="container mt-5">
        <div class="shamrock">🍀</div>
        <h1 id="Titulo-pag">Ingresar Sucursal</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
                {{ form.nombre }}
            </div>
            <div class="mb-3">
                <label for="{{ form.fono.id_for_label }}">{{ form.fono.label }}</label>
                {{ form.fono }}
            </div>
            <div class="mb-3">
                <label for="{{ form.direccion.id_for_label }}">{{ form.direccion.label }}</label>
                {{ form.direccion }}
            </div>
            <div class="mb-3">
                <label for="{{ form.imagen.id_for_label }}">{{ form.imagen.label }}</label>
                {{ form.imagen }}
            </div>
            <div class="justify-content-between">
                <a href="../lista_sucursales/" class="btn btn-success">Volver</a>
                <button type="submit" class="btn btn-success">Agregar a la Página</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% include 'footer.html' %}